$font: "Helvetica Neue",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen,
Ubuntu,
Cantarell,
"Open Sans",
"Helvetica Neue",
sans-serif;

//Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html,
body {
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: $white;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }

  @media (max-width: 1300px) {
    width: 1180px;
    min-width: 1180px;
  }

  @media (max-width: 1280px) {
    width: 1100px;
    min-width: 1100px;
  }

  @media (max-width: 1024px) {
    width: 900px;
    min-width: 900px;
  }


  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }


  @media (max-width: 768px) {
    width: 600px;
    min-width: 600px;
  }

  @media (max-width: 425px) {
    width: 400px;
    min-width: 400px;
  }

  @media (max-width: 375px) {
    width: 350px;
    min-width: 350px;
  }

  @media (max-width: 320px) {
    width: 320px;
    min-width: 320px;
  }
}

//Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;

  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;


    .logo {
      a {
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $black;

        @media (max-width: 425px) {
          margin: 0 10px;
          font-size: 0.75rem;
        }

        @media (max-width: 375px) {
          margin: 0 5px;
          font-size: 0.75rem;
        }

        @media (max-width: 320px) {
          padding-left: 20px;
        }
      }
    }

    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;

          @media (max-width: 425px) {
            margin: 0 10px;
            font-size: 0.5rem;
          }

          @media (max-width: 375px) {
            margin: 0 5px;
            font-size: 0.5rem;
          }


          &:last-child {
            margin-right: 0px;

            @media (max-width: 320px) {
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
}

//Banner
.banner {
  display: flex;
  align-items: center;
  background-color: $white;
  position: relative;
  height: 100vh;

  .row {
    position: relative;

    .main-text {
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 700;
      color: $white;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      mix-blend-mode: difference;
      z-index: 9;

      @media (max-width: 1440px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }

      @media (max-width: 425px) {
        font-size: 1.4rem;
      }


    }

    .main-image {
      width: 536px;
      margin: 0 auto;

      @media (max-width: 1440px) {
        width: 436px;
      }

      @media (max-width: 425px) {
        width: 400px;
      }

      @media (max-width: 375px) {
        width: 350px;
      }

      @media (max-width: 320px) {
        width: 320px;
        margin: 0;
      }

    }

    .side-image {
      width: 260px;
      position: absolute;

      @media (max-width: 1440px) {
        width: 208px;
      }

      &.left {
        left: 168px;
        top: 12px;

        @media (max-width: 1440px) {
          left: 128px;
        }

        @media (max-width: 768px) {
          left: 21px;
          top: -30px;
        }

        @media (max-width: 425px) {
          display: none;
        }
      }

      &.right {
        right: 168px;
        bottom: 12px;

        @media (max-width: 1440px) {
          right: 128px;
        }

        @media (max-width: 768px) {
          right: 21px;
          bottom: -30px;
        }

        @media (max-width: 425px) {
          display: none;
        }
      }
    }
  }

  .scroll {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
    animation: blinking-cursor 3s cubic-bezier(0.4, 0.39, 1, 1) 0s infinite;

    @media (max-width: 425px) {
      font-size: 0.5rem;
      bottom: 50px;
    }


    @media (max-width: 320px) {
      padding-left: 20px;
    }

    @keyframes blinking-cursor {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }

  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -48px;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: $white;
    mix-blend-mode: difference;
    z-index: 8;

    // @media (max-width: 1440px) {
    //   right: -112px;
    // }

    @media (max-width: 425px) {
      font-size: 0.5rem;
      right: -20px;
      letter-spacing: 1.6px;
    }

    @media (max-width: 320px) {
      font-size: 0.5rem;
      right: -30px;
      letter-spacing: 1.6px;
    }

  }
}

//About blurb

.about-blurb {
  // padding: 48px 0;
  background: $white;
  position: relative;
  // height: 100vh;

  .inner-blurb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      height: 450px;
    }

    .content {
      width: 33%;

      @media (max-width: 1440px) {
        width: 40%;
      }

      @media (max-width: 1024px) {
        width: 33%;
      }

      @media (max-width: 768px) {
        width: 40%;
        position: absolute;
        z-index: 100;
        justify-content: center;
        color: $off-white;
        margin-left: 88px;
        mix-blend-mode: difference;
      }

      @media (max-width: 425px) {
        width: 70%;
        margin-left: 20px;
      }

      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin: 0;

        @media (max-width: 1024px) {
          font-size: 1.5rem;
          margin: 40px 0 40px;
        }

        @media (max-width: 768px) {
          color: $off-white;
          margin: 20px 0 20px;
        }

        @media (max-width: 425px) {
          font-size: 1.25rem;
        }

        @media (max-width: 375px) {
          font-size: 1rem;
        }

      }

      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 40px 0 72px;

        @media (max-width: 1024px) {
          font-size: 0.85rem;
        }

        @media (max-width: 768px) {
          color: $off-white;
          margin: 20px 0 20px;
        }

        @media (max-width: 375px) {
          font-size: .75rem;
        }

      }

      .btn-row {
        a {
          font-weight: 700;
          font-size: 0.875rem;
          letter-spacing: 1.5px;
          color: $black;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }

    .images {
      width: 50%;
      height: 1000px;
      position: relative;
      z-index: 7;

      @media (max-width: 1440px) {
        height: 800px;
      }

      @media (max-width: 768px) {
        height: 0px;
      }

      .top-right {
        position: absolute;
        width: 460px;
        top: 0;
        right: 0;
        z-index: 4;

        @media (max-width: 1440px) {
          width: 360px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .bottom-left {
        position: absolute;
        width: 410px;
        left: 0;
        bottom: 0;

        @media (max-width: 1440px) {
          width: 310px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .black-box {
    background: $black;
    height: 418px;
    width: 836px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1440px) {
      width: 636px;
      height: 340px;
    }



    &.overlay {
      z-index: 7;
      background: $maroon;
      mix-blend-mode: overlay;
    }
  }
}

//work section
.video-section {
  margin-top: 160px;
  margin-bottom: 160px;

  @media (max-width: 768px) {
    margin-top: 0;
    background-color: $black;
    height: 750px;
  }

  @media (max-width: 425px) {
    margin-bottom: 30px;
    background-color: white;
  }

  @media (max-width: 375px) {
    height: 1400px;

  }


  .container {
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      margin: 40px 0 72px;


      @media (max-width: 1024px) {
        font-size: 1.5rem;

      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
        margin: 20px 0 20px;
        padding-top: 20px;
        color: $white;
      }

      @media (max-width: 425px) {
        font-size: 1.5rem;
        margin: 30px 0 30px;
        color: $black;
      }
    }

    .video-player {
      width: 100%;
      margin: 0 auto;

      .grid {
        width: 100%;
        height: 500px;
        background-color: $black;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 5%;

        @media (max-width: 768px) {
          flex-flow: row wrap;
          max-width: 460px;
          height: 600px;
          margin-left: 15%;

        }

        @media (max-width: 425px) {
          flex-flow: row wrap;
          background-color: white;
          margin-left: 0;
        }

        @media (max-width: 375px) {
          height: 1300px;
        }

        .flip-card {
          width: 200px;
          height: 300px;
          background-color: transparent;
          perspective: 1000px;

          @media (max-width: 768px) {
            padding: 15px;
          }

          @media (max-width: 425px) {
            padding: 0;
          }

          @media (max-width: 375px) {
            padding-left: 70px;
          }
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.7s;
          transform-style: preserve-3d;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


        }

        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);

        }

        .flip-card-front,
        .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          filter: hue-rotate(320deg);
          overflow: hidden;
        }



        .flip-card-back {
          background-color: #2f2f2f;
          color: white;
          transform: rotateY(180deg);
        }

        .flip-card-back-content {
          text-align: center;
          width: 100%;
          position: absolute;

          h4 {
            margin-top: 80px;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 1.5px;
            color: $off-white;
            text-transform: uppercase;
            text-decoration: none;
          }

          p {
            font-size: .8rem;
            line-height: 1.3rem;
            font-weight: 300;
            margin: 10px;
          }
        }

        .sm {
          margin: 2px 0;
          position: absolute;
          top: 0;
          right: 2%;
          cursor: pointer;

          a {
            display: inline-flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            color: $off-white;
            font-size: 18px;
            transition: 0.4s;
            border-radius: 50%;

            &:hover {
              background: rgb(57, 59, 60);
              color: white;
            }
          }
        }

        .col-1 {
          margin-left: -30px;

          @media (max-width: 768px) {
            margin-left: 0;
          }
        }

        .col-4 {
          margin-right: -30px;

          @media (max-width: 768px) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

//footer
footer {
  .featured-companies {
    background: $black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 425px) {
      height: 150px;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .title {
        width: 50%;
        align-self: center;

        h3 {
          color: $white;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.3rem;
          letter-spacing: 1.5px;
          margin: 0;

          @media (max-width: 425px) {
            font-size: .8rem;
          }

          @media (max-width: 320px) {
            padding-left: 20px;
          }
        }
      }

      .content {
        width: 34%;
        display: inline-flex;
        justify-content: space-evenly;

        @media (max-width: 425px) {
          width: 45%;
        }

        a {
          color: $off-white;

          @media (max-width: 425px) {
            font-size: .8rem;
          }

        }
      }
    }
  }

  .footer {
    // background: $off-white;
    height: 50px;

    .inner {
      padding: 0 30px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: .8rem;
      line-height: 1.3rem;
      font-weight: 300;
      margin: 10px;

      @media (max-width: 425px) {
        font-size: .5rem;
      }

      @media (max-width: 320px) {
        padding-left: 20px;
      }


      .socials {
        a {
          margin: 0 8px;
        }
      }
    }
  }
}